@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.header .logo h1 {
  color: crimson;
  font-family: "Permanent Marker", cursive;
  font-size: 80px;
  text-align: center;
  margin: 0;
}
.header .navbar ul {
  display: flex;
  background-color: crimson;
}
.header .navbar ul li {
  list-style: none;
  padding: 5px 20px;
  transition: 0.5s ease-in-out;
}

.header .navbar ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
.header .navbar ul li:hover,
.header .navbar ul li:hover a {
  background-color: #222;
  color: #fff;
}
